@font-face {
  font-family: Poppins-Medium;
  src: url(/static/fontes/Poppins-Medium.ttf);
}
@font-face {
  font-family: Days-Sans;
  src: url(/static/fontes/Days\ Sans\ Black.otf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(/static/fontes/Poppins-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins-Medium;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #031227;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.background{
position: absolute;
width: 100%;
height: 100%;
}
.background img{
position: absolute;
width: 100%;
height: 100%;
min-width: 100%;
min-height: 100%;
}


.login-box {
  background: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  height: 35vw;
  min-height: 500px;
  z-index: 1;
  position: relative;
}


.login-form {
  text-align: center;
}

.login-form h2 {
  font-family: Poppins-Bold;
  font-weight: bold;
  margin: 0;
  color: #031227;
}

.login-form p {
  margin-top: 5%;
  color: #484139;
}

.login-form input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  box-shadow: 1px 1px 3px #0000005b;
  border-radius: 5px;
  background-color: #F5F3EF;
}

.login-form input:focus-visible{
  outline: 1px solid #9CDA5F;
}


.login-form a {
  color: #6C8C4B;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}

.login-form button {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background: #9CDA5F;
  box-shadow: 3px 3px  #6C8C4B;
  color: #fff;
  cursor: pointer;
}


.login-form{
  margin-top: 20px;
}

.login-form{
  margin: 0;
  color: #666;
}

.login-form{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  color: #333;
}

.button-register {
  width: 100%;
  margin: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.center-container {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
}

.ilustra {
width: 100%;
max-width: 512px;
height: auto;
margin-right: auto;
}

.ilustra img {
margin-top: 25%;
position: absolute;
height: auto;
max-width: 100%;
min-width: 400px;
}

@media (max-width: 991px) {
  .ilustra img{
  display: none;
  }
  .login-form{
    position: absolute;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    color: #333;
    width: auto;
    height: auto;
    min-width: 460px;
    margin-left: 5%;
  }
  .button-register {
    width: 94%;
  }
}

.floating {
animation: float 3s ease-in-out infinite;
}

.floating-itens {
animation: float-itens 5s ease-in-out infinite;
}

@keyframes float {
0%, 100% {
  transform: translateY(0);
}
50% {
  transform: translateY(-10px);
}
}

@keyframes float-itens {
0%, 100% {
  transform: translateY(0);
}
50% {
  transform: translateY(-15px);
}
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ilustra {
  position: relative;
  width: 512px;
  height: 768px;
}

.ilustra img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.floating {
  animation: float 3s ease-in-out infinite;
}

.floating-itens {
  animation: float-itens 5s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes float-itens {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.container-register {
  width: 80%;
  height: 80vh;
  box-shadow: 5px 5px 10px rgba(0,0,0, 0.212);
  background-color: #F5F3EF;
  display: flex;
  border-radius: 5px;
}

.register-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.register-img img{
  width: 35rem;
}

.register-form {
  width: 50%;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5rem;
}

.register-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.login-button button{
  margin-top: 0.5rem;
  display: block;
  background-color: #0f572e;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-button button a{
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box input{
  padding: 0.5rem 1.2rem;
  margin: 0.6rem 0;
  border: 1px solid #666666;
  border-radius: 10px;
  background-color: #F5F3EF;
}

.input-box input:focus-visible{
  outline: 1px solid #18c764;
}

.input-box label,
.gender-title h6{
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder{
  color: #000000be;
}

.register-button{
  background-color: #0f572e;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.register-title h1{
  font-weight: bold;
  margin: 0;
  color: #484139;
}

@media (max-width: 1360px){
  .register-img {
    display: none;
  }
  .register-form{
    width: 100%;
    padding: 10%;
  }

  .input-box{
    margin: 5px;
  }
}
@media (max-width: 600px) {
  .register-img {
    display: none;
  }
  .register-form{
    position: absolute;
    width: auto;
    height: auto;
  }
  .container-register{
    position: absolute;
    min-width: 400px;
  }
}

.login-button{
  position: relative;
  display: block;
}

@media (max-width: 1530px){
  .register-form{
    padding: 3rem;
  }
  .register-header{
    margin-top: 10%;
  }
}


  