<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PoupApp</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<link href="https://fonts.googleapis.com/css2?family=Satoshi:wght@400;700&display=swap" rel="stylesheet">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!-- Adicionado -->
</head>
<body>
  <div class="content">
    <div class="sidebar">
      <div class="top">
        <div class="logo">
          <img src="{{ url_for('static', filename='img/logo-2.svg') }}" alt="Logo">
          <a>PoupApp</a>
        </div>
        <ul class="menu">
          <li class="listaMenu"><a href="{{ url_for('dashboard') }}"><span>INÍCIO</span></a></li>
          <li class="listaMenu">
            <a href="#"><span>ANÁLISES</span></a>
            <ul class="submenu">
              <li><a href="#">GRÁFICOS</a></li>
              <li><a href="#">MESES ANTERIORES</a></li>
            </ul>
          </li>
          <li class="listaMenu"><a href="#"><span>GASTOS</span></a></li>
          <li class="listaMenu"><a href="#"><span>GANHOS</span></a>
            <ul class="submenu">
              <li><a href="#">CADASTRAR</a></li>
            </ul>
          </li>
          <li class="listaMenu"><a href="#"><span>USUÁRIO</span></a>
            <ul class="submenu">
              <li><a href="#">PERFIL DE USUÁRIO</a></li>
              <li><a href="#">CONFIGURAÇÕES DE USUÁRIO</a></li>
              <li><a method='post' href="{{ url_for('deslogar') }}">SAIR</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="bottom">
        <div class="schedule">
          <a href="" class="schedule-button">OBTER VERSÃO PRO</a>
        </div>
        <div class="profile">
          <img src="{{ url_for('static', filename='img/perfil.png') }}" alt="Profile Picture">
          <div>
            <div>{{ user.user_firstname }} {{ user.user_lastname}}</div>
            <div style="color: #aaa;">{{ user.get_access_level() }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="articles-register">
      <div class="ilustra">
        <img src="{{ url_for('static', filename='img/regsiter-img.svg') }}" alt="Efeitos" class="floating">
      </div>
      
      <div class="spend-box">
       
        <form method='post' action="{{ url_for('cadgastos') }}">
          {{  form.hidden_tag() }}

          <div class="spend-header">
            {{ form.expense_category.label }}<br>
            {{ form.expense_category (class="spend-cat")}}<br><br>
          </div>
          
          <div class="spend-input">
            {{ form.expense_amount.label }}<br>
            {{ form.expense_amount }}<br><br>
          </div>

          <div class="spend-input">
            {{ form.expense_description.label }}<br>
            {{ form.expense_description }}<br><br>
          </div>

          <div class="spend-input">
            {{ form.expense_date.label }}<br>
            {{ form.expense_date }}<br><br>
          </div>

          {{ form.cadastrar(class="spend-cat") }}
          <button type="button" class="botaogerenciador">Gerenciar</button>
        </form>
      </div>

      <div class="hidden-div">
        <img src="{{ url_for('static', filename='img/regsiter-img.svg') }}" alt="Efeitos" class="hidden-content">
      </div>

    </div>
  </div>
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>

</body>
</html>