{% extends "template.html" %}
{% block content %}

    <div class="container">
        <div class="login-box">
            <div class="center-container">
                <div class="ilustra">
                  <img src="{{ url_for('static', filename='img/security.svg') }}" alt="Efeitos" class="floating">
                </div>
            </div>
            <div class="login-form">
                <form method='post' action="{{ url_for('autenticar') }}">
                    {{ form.hidden_tag() }}
                    <h2>PoupApp</h2>
                    <p>Faça login em sua conta.</p>
                    {{ form.login(placeholder="Digite seu login") }}
                    {{ form.password(placeholder="Digite sua senha") }}
                    <a href="">Esqueceu a senha?</a>
                    <button type="submit">{{ form.entrar.label.text }}</button>
                </form>
                <form action="{{ url_for('cadastrar') }}" method="get">
                    <button type="submit">{{ form.cadastrar.label.text }}</button>
                </form>
            </div>
        </div>
    </div>

    {% if success %}
        <p id="success_text" hidden>{{success}}</p>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <!-- Modal content-->
                <div class="modal-content" style="color:black;">
                    <div class="modal-header">
                        <h5 class="modal-title text-success"><b>Sucesso</b></h5>
                    </div>
                    <div class="modal-body" id="modalBody">
                        <p id="modal_text">modal_text</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-info" data-bs-dismiss="modal" id="cancelButton">Fechar</button>
                </div>
            </div>

            </div>
        </div>
        <script>
            var modalText = document.getElementById("modalBody");
            var successText = document.getElementById("success_text").textContent;
            modalText.innerHTML = successText;
            var myModal = new bootstrap.Modal(document.getElementById('myModal'), {
                backdrop: 'static'
            });
            myModal.show();

            document.getElementById('cancelButton').addEventListener("click", function () {
                myModal.hide();
            });
        </script>
    {% endif %}
{% endblock %}